/*---------------------------------------------------------------------------*\
                                    ¡LAYOUT
\*---------------------------------------------------------------------------*/

@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/Lato-Bold.ttf');
  src: local(☺), url('../assets/fonts/Lato-Bold.ttf') 
    format('otf'), url('../assets/fonts/Lato-Bold.ttf') 
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/OpenSans-Bold-webfont.ttf');
  src: local(☺), url('../assets/fonts/OpenSans-Bold-webfont.ttf') 
    format('ttf'), url('../assets/fonts/OpenSans-Bold-webfont.ttf') 
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: color(main);
  font-family: 'Lato-Bold', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.scroll {
  color: color(highlight-7);
  cursor: pointer;
  position: fixed;
  right: 8%;
  width: 45px;
  z-index: 812;
  top: 175px;
  span {
    font-size: 12px;
    line-height: 12px;
  }
  @media screen and (max-width: breakpoint(tablet-lg)) {
    display: none;
  }
}

/**
* @desc sticky !footer
*/
.site {
  @include flexbox();
  @include flex-direction(column);
  min-height: 100vh;
}

.content {
  @include flex(1);
}

footer {
  background: color(accent-4);
  height: 100px;
}





/*-----------------------------------*\
               !HEADER
\*-----------------------------------*/

.header {
  background: color(accent-4);
  height: config(header);
  line-height: config(header);
  &-squeeze {
    max-width: $header-squeeze;
    margin: 0 auto;
  }
  &-logo {
    float: left;
    margin: 20px 15px 0 10px;
    width: 75px;
  }
  .title {
    color: #ffffff;
    float: left;
    line-height: 20px;
    margin-top: 30px;
  }
  .menu-icon-wrapper {
    display: none;
  }
  ul {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    list-style: none;
    a {
      color: #fff;
      @include flexbox();
      @inlcude align-items(flex-start);
      padding: 0 20px;
      text-decoration: none;
    }
    li {
    }
    li:hover,
    li:active {
      background: url(../assets/img/divider.png) no-repeat 0 50%;
      background-size: 12px;
      // background-color: lighten(color(accent-4), 5%);
    }
  }
  @media screen and (max-width: breakpoint(tablet-lg)) {
    .menu-icon-wrapper {
      display: block;
      line-height: 0;
      position: absolute;
      right: 25px;
      top: 45px;
    }
    .menu-icon-wrapper:hover {
      cursor: pointer;
    }
  }
}





/*------------------------------------*\
               ¡MENU ¡NAV
\*------------------------------------*/

.wrap-menu {
  @media screen and (max-width: breakpoint(tablet-lg)) {
    display: none;
  }
}

.wrap-mobile-menu {
  display: none;
  @media screen and (max-width: breakpoint(tablet-lg)) {
    ul {
      padding: 0;
      text-align: center;
      li {
        background: lighten(color(accent-4), 2%);
        border-bottom: 1px solid lighten(color(highlight-4), 5%);
        display: block;
        font-size: 18px;
        list-style: none;
      }
      li:first-child {
        border-top: 1px solid lighten(color(highlight-4), 5%);
      }
      li:hover,
      li:active {
        background: lighten(color(accent-4), 5%);
      }
      a {
        color: #ffffff;
        display: block;
        padding: 5px 0;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
      }
    }
  }
}

.wrap-mobile-menu.is-active {
  display: block;
}





/*------------------------------------*\
               ¡SUBMAST
\*------------------------------------*/
/**
* Getting pretty wild here,
* .sub-mast-info is a flex-item
* of .sub-mast, however, it is
* also a flex container itself
*
* Also, because default for a 
* flex item is stretch, we need
* give the images a height and 
* width or they look aaawwfull!
*/
.sub-mast {
  @include flexbox();
  background: url(../assets/img/bg-mast.png) no-repeat scroll center bottom;
  background-size: cover;
  height: calc(100vh - 200px);
  // margin-bottom: 60px;
  position: relative;
  z-index: 5150;
  &-info {
    @include flexbox();
    @include align-self(flex-end);
    @include justify-content(center);
    background: color(accent-4);
    height: config(header);
    width: 100%;
    .info {
      @include align-self(center);
    }
    img {
      margin: 0 20px;
      height: 10px;
      width: 10px;
      align-self: center;
    }
  }
  @media screen and (min-width: 1580px) {
    background: url(../assets/img/bg-mast.png) no-repeat scroll center bottom;
    background-size: cover;
  }
  @media screen and (max-width: breakpoint(tablet)) {
    height: calc(100vh - 200px);
    margin-bottom: 0;
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    height: calc(100vh - 250px);
    margin-bottom: 0;
  }
}

.sub-mast-info {
  @include flexbox();
  @include align-self(flex-end);
  @include justify-content(center);
  background: color(accent-4);
  height: config(header);
  width: 100%;
  .info {
    @include align-self(center);
  }
  img {
    margin: 0 20px;
    height: 10px;
    width: 10px;
    align-self: center;
  }
}





/*------------------------------------*\
              ¡SECTIONS
\*------------------------------------*/

.section {
  padding: 40px 0;
  &-title {
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    span {
      font-size: 16px;
    }
  }
  &-divider {
    background: url(../assets/img/divider@2x.png) no-repeat center;
    background-size: 15px;
    height: 20px;
  }
  .info {
    line-height: 35px;
  }
  @media screen and (max-width: breakpoint(tablet)) {
    padding: 20px 0;
    .info {
      line-height: 30px;
    }
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    padding: 15px 0;
    .info {
      line-height: 28px;
    }
  }
}

.commitment {
  margin-bottom: 50px;
}

.services {
  background: url(../assets/img/bg-services.png) no-repeat center;
  background-size: cover;
  min-height: 800px;
  .box-container {
    margin: 100px 0;
    font-size: 0;
    .box {
      background: rgba(98, 98, 98, .5);
      display: inline-block;
      height: 175px;
      margin: 5px 3px;
      position: relative;
      vertical-align: top;
      width: 175px;
      p {
        color: #ffffff;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
      }
    }
    .box:hover {
      background: rgba(73, 44, 44, .7);
    }
    @media screen and (max-width: breakpoint(tablet)) {
      margin: 30px 0;
    }
    @media screen and (max-width: breakpoint(phone-lg)) {
      margin: 5px 0;
    }
    @media screen and (max-width: breakpoint(phone)) {
      .box {
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}


.service-info {
  background: color(accent-1);
  &-title {
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    span {
      font-size: 16px;
    }
  }
  &-title:after {
    content: url(../assets/img/divider.png);
    margin: 0 20px;
    position: absolute;
    bottom: 2px;
  }
  .wrap-contact-info {
    border: 2px solid color(highlight-4);
    display: inline-block;
    line-height: 26px;
    max-width: 600px;
    margin-bottom: 100px;
    padding: 15px 100px;
    p:first-child {
      max-width: 320px;
    }
    @media screen and (max-width: breakpoint(phone-lg)) {
      padding: 10px;
      p:first-child {
        max-width: none;
      }
    }
  }
}

.products {
  border-top: 5px solid color(highlight-4);
  padding: 80px 0 150px;
  &-squeeze {
    max-width: $product-squeeze;
    margin: 0 auto;
  }
  .product-list {
    padding-top: 30px;
    .list--item {
      background: url(../assets/img/divider.png) no-repeat scroll 0 5px;
      background-size: 8px;
      list-style: none;
      margin: 15px 0;
      padding-left: 20px;
    }
    @media screen and (max-width: breakpoint(tablet)) {
      text-align: center;
      .list--item {
        background: none;
        padding: 0 5px;

      }
      .list--item:before {
        content: url(../assets/img/colon-sm.png);
        margin: 0 10px 0 0;
      }
    }
  }
  @media screen and (max-width: breakpoint(tablet)) {
    padding: 50px 0;
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    padding: 20px 0;
    .col-wrap {
      margin-top: 10px;
    }
    .col {
      .logo {
        margin: 15px auto;
      }
      .product-list {
        padding-top: 10px;
      }
    }
  }
}

.logo {
  display: block;
  margin: 40px auto;
}

.area {
  background: url(../assets/img/area.png) no-repeat center 75px;
  background-size: cover;
  padding: 0;
  min-height: 750px;
  &-info {
    background: color(accent-4);
    padding: 20px 0;
    height: 75px;
    .divider {
      padding-top: 12px;
      margin: 0 30px;
    }
  }
  @media screen and (min-width: 1400px) {
    min-height: 1000px;
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    h4 {
      font-size: 22px;
      padding-top: 5px;
    }
    .divider {
      margin: 0 15px;
    }
  }
  @media screen and (max-width: breakpoint(phone)) {
    p {
      padding: 0 !important;
      width: 180px;
    }
  }
}

.contact {
  background: url(../assets/img/house.png) no-repeat center;
  background-size: cover;
  border-top: 5px solid color(highlight-6);
  min-height: 900px;
  a {
    text-decoration: none;
  }
  .col-wrap {
    margin-top: 200px;
    background: rgba(0, 0, 0, .5);
    padding: 30px 15px;
    border-radius: 4px;
  }
  .col-50:first-of-type {
    padding-right: 50px !important;
    text-align: right;
  }
  .col-50:last-of-type {
    padding-left: 50px !important;
  }
  @media screen and (max-width: breakpoint(tablet)) {
    min-height: 600px;
    .col-wrap {
      margin-top: 100px;
      .col.col-50 {
        float: left;
        width: 50%;
      }
    }
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    .col-wrap {
      margin-top: 50px;
      .col.col-50 {
        float: none;
        width: 100%;
      }
      .col-50:first-of-type {
        padding-right: 0 !important;
        text-align: center;
      }
      .col-50:last-of-type {
        padding-left: 0 !important;
        text-align: center;
      }
    }
  }
}



/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

.footer {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  padding: 0 100px;
  .info {
    font-size: 14px;
  }
  @media screen and (max-width: breakpoint(phone-lg)) {
    padding: 0 20px;
  }
  @media screen and (max-width: breakpoint(phone)) {
    padding: 0 20px;
    p {
      width: 240px;
    }
  }
}