////
/// High level color classes for fonts. There are essentially
/// only four colors on this site regarding typography. I've 
/// given these !important because I want to apply a default 
/// color to all h and p elements and still be able to add
/// classes to any element.
/// @author sammyteahan
////


/**
* High level color classes for fonts. There are essentially
* only four colors on this site regarding typography. I've 
* given these !important because I want to apply a default 
* color to all h and p elements and still be able to add
* classes to any element.
*/

.black {
  color: #000 !important;
}
.white {
  color: #fff !important;
}
.accent {
  color: color(accent-4);
}
.accent-red {
  color: color(highlight-4);
}
.bold {
  font-weight: bold !important;
}

/**
* @desc this class display lines on 
* both sides of a section title for
* additional text decoration. prolly
* a better way of doing this via 
* background images.
*/
.strikethrough {
  position: relative;
  span {
    background: #fff;
    font-size: 25px !important;
    padding: 0 15px;
    position: relative;
    z-index: 812;
  }
  &:before {
    content: '';
    background: color(highlight-4);
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  @media screen and (max-width: breakpoint(tablet)) {
    &:before {
      display: none;
    }
  }
}

h1, h2, 
h3, h4, 
h5, h6 {
  color: color(default-font);
  font-weight: 300;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 18px; }


p {
  color: color(default-font);
  font-size: $default-font-size;
  &.medium {
    font-size: 14px;
  }
  &.small {
    font-size: 12px;
  }
}

// ul {
//   padding: 0 20px;
//   li {
//     color: color(default-font);
//   }
// }

a {
  text-decoration: none;
  &.spacing {
    letter-spacing: 2px;
    margin: 0 5px;
  }
}

@media screen and (max-width: breakpoint(tablet)) {
  h1 {
    font-size: 44px !important;
  }
  h2 {
    font-size: 34px !important;
  }
  h5 {
    font-size: 22px !important;
  }
  h6 {
    font-size: 18px !important;
  }
}

@media screen and (max-width: breakpoint(phone)) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h5 {
    font-size: 22px !important;
  }
  h6 {
    font-size: 18px !important;
  }
}