@charset "UTF-8";
/*===========================================================================*\
                                    ¡FUNCTIONS
\*===========================================================================*/
/**
* Colors: accent == blue, main === gray && highlight === red
*/
/*------------------------------------*\
           Helper functions
\*------------------------------------*/
/**
* so we don't always have to 
* type 'map-get'
*/
/* background: color(color-100); */
/* breakpoint(phone); */
/*------------------------------------*\
          ¡SPACING AND ¡SIZES 
\*------------------------------------*/
/********************
¡MIXINS
********************/
/**
*
* GRADIENTS
*
**/
/********************
¡CLASSES
********************/
.lk-clear:after, .lk-squeeze:after, .col-wrap:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both; }

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 815px; }
  @media screen and (max-width: 650px) {
    .lk-squeeze {
      padding: 0 10px; } }

.show-mobile-inline,
.show-mobile-block {
  display: none !important; }

@media screen and (max-width: 767px) {
  .show-mobile-inline {
    display: inline-block; } }

@media screen and (max-width: 767px) {
  .show-mobile-block {
    display: block !important; } }

@media screen and (max-width: 650px) {
  .hide-mobile {
    display: none; } }

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important; }

.push--top {
  margin-top: 20px !important; }

.push--right {
  margin-right: 20px !important; }

.push--bottom {
  margin-bottom: 20px !important; }

.push--left {
  margin-left: 20px !important; }

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half--top {
  margin-top: 10px !important; }

.push-half--right {
  margin-right: 10px !important; }

.push-half--bottom {
  margin-bottom: 10px !important; }

.push-half--left {
  margin-left: 10px !important; }

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.pad {
  padding: 20px !important; }

.pad--top {
  padding-top: 20px !important; }

.pad--right {
  padding-right: 20px !important; }

.pad--bottom {
  padding-bottom: 20px !important; }

.pad--left {
  padding-left: 20px !important; }

.pad--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pad--sides {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.pad-half {
  padding: 10px !important; }

.pad-half--top {
  padding-top: 10px !important; }

.pad-half--right {
  padding-right: 10px !important; }

.pad-half--bottom {
  padding-bottom: 10px !important; }

.pad-half--left {
  padding-left: 10px !important; }

.pad-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pad-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important; }

/**
* Floats  
*/
.none {
  float: none !important; }

.pull--right {
  float: right !important; }

.pull--left {
  float: left !important; }

.clear {
  display: block;
  float: none;
  clear: both; }

/**
* Centering elements
*/
.center--vertical {
  vertical-align: middle; }

.center--horizontal {
  margin: 0 auto;
  display: block; }

.text--center {
  text-align: center !important; }

.text--left {
  text-align: left !important; }

.text--right {
  text-align: right !important; }

/**
 * COLUMNS
 */
.col-wrap .col {
  float: left; }
  .col-wrap .col.col-50 {
    width: 50%; }
    @media screen and (max-width: 767px) {
      .col-wrap .col.col-50 {
        width: 100%;
        float: none; } }
.col-wrap .col-50:nth-last-child(2):first-child {
  padding-right: 10px; }
  @media screen and (max-width: 767px) {
    .col-wrap .col-50:nth-last-child(2):first-child {
      padding-right: 0; } }
.col-wrap .col-50 + .col-50 {
  padding-left: 10px; }
  @media screen and (max-width: 767px) {
    .col-wrap .col-50 + .col-50 {
      padding-left: 0; } }

/**
* High level color classes for fonts. There are essentially
* only four colors on this site regarding typography. I've 
* given these !important because I want to apply a default 
* color to all h and p elements and still be able to add
* classes to any element.
*/
.dark {
  color: #000 !important; }

.white {
  color: #fff !important; }

.accent {
  color: #2b2b2b; }

.accent-red {
  color: #b91e1e; }

.bold {
  font-weight: bold !important; }

/**
* @desc this class display lines on 
* both sides of a section title for
* additional text decoration. prolly
* a better way of doing this via 
* background images.
*/
.strikethrough {
  position: relative; }
  .strikethrough span {
    background: #fff;
    font-size: 25px !important;
    padding: 0 15px;
    position: relative;
    z-index: 812; }
  .strikethrough:before {
    content: '';
    background: #b91e1e;
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 100%; }
  @media screen and (max-width: 767px) {
    .strikethrough:before {
      display: none; } }

h1, h2,
h3, h4,
h5, h6 {
  color: #525252;
  font-weight: 300; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 25px; }

h6 {
  font-size: 18px; }

p {
  color: #525252;
  font-size: 16px; }
  p.medium {
    font-size: 14px; }
  p.small {
    font-size: 12px; }

a {
  text-decoration: none; }
  a.spacing {
    letter-spacing: 2px;
    margin: 0 5px; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 44px !important; }

  h2 {
    font-size: 34px !important; }

  h5 {
    font-size: 22px !important; }

  h6 {
    font-size: 18px !important; } }
@media screen and (max-width: 450px) {
  h1 {
    font-size: 40px !important; }

  h2 {
    font-size: 30px !important; }

  h5 {
    font-size: 22px !important; }

  h6 {
    font-size: 18px !important; } }
/*---------------------------------------------------------------------------*\
                                    ¡LAYOUT
\*---------------------------------------------------------------------------*/
@font-face {
  font-family: 'Lato-Bold';
  src: url("../assets/fonts/Lato-Bold.ttf");
  src: local(☺), url("../assets/fonts/Lato-Bold.ttf") format("otf"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../assets/fonts/OpenSans-Bold-webfont.ttf");
  src: local(☺), url("../assets/fonts/OpenSans-Bold-webfont.ttf") format("ttf"), url("../assets/fonts/OpenSans-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  font-family: 'Lato-Bold', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

/**
* @desc sticky !footer
*/
.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

footer {
  background: #2b2b2b;
  height: 100px; }

/*-----------------------------------*\
               !HEADER
\*-----------------------------------*/
.header {
  background: #2b2b2b;
  height: 100px;
  line-height: 100px; }
  .header-squeeze {
    max-width: 980px;
    margin: 0 auto; }
  .header-logo {
    float: left;
    margin: 20px 15px 0 10px;
    width: 75px; }
  .header .title {
    color: #ffffff;
    float: left;
    line-height: 20px;
    margin-top: 30px; }
  .header .menu-icon-wrapper {
    display: none; }
  .header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    list-style: none; }
    .header ul a {
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      @inlcude align-items(flex-start);
      padding: 0 20px;
      text-decoration: none; }
    .header ul li:hover,
    .header ul li:active {
      background: url(../assets/img/divider.png) no-repeat 0 50%;
      background-size: 12px; }
  @media screen and (max-width: 992px) {
    .header .menu-icon-wrapper {
      display: block;
      line-height: 0;
      position: absolute;
      right: 25px;
      top: 45px; }
    .header .menu-icon-wrapper:hover {
      cursor: pointer; } }

/*------------------------------------*\
               ¡MENU ¡NAV
\*------------------------------------*/
@media screen and (max-width: 992px) {
  .wrap-menu {
    display: none; } }

.wrap-mobile-menu {
  display: none; }
  @media screen and (max-width: 992px) {
    .wrap-mobile-menu ul {
      padding: 0;
      text-align: center; }
      .wrap-mobile-menu ul li {
        background: #303030;
        border-bottom: 1px solid #cf2222;
        display: block;
        font-size: 18px;
        list-style: none; }
      .wrap-mobile-menu ul li:first-child {
        border-top: 1px solid #cf2222; }
      .wrap-mobile-menu ul li:hover,
      .wrap-mobile-menu ul li:active {
        background: #383838; }
      .wrap-mobile-menu ul a {
        color: #ffffff;
        display: block;
        padding: 5px 0;
        text-decoration: none; }
      .wrap-mobile-menu ul a:hover {
        color: #fff; } }

.wrap-mobile-menu.is-active {
  display: block; }

/*------------------------------------*\
               ¡SUBMAST
\*------------------------------------*/
/**
* Getting pretty wild here,
* .sub-mast-info is a flex-item
* of .sub-mast, however, it is
* also a flex container itself
*
* Also, because default for a 
* flex item is stretch, we need
* give the images a height and 
* width or they look aaawwfull!
*/
.sub-mast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../assets/img/bg-mast.png) no-repeat 0 100%;
  background-size: cover;
  height: calc(100vh - 100px);
  margin-bottom: 60px; }
  .sub-mast-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    background: #2b2b2b;
    height: 100px;
    width: 100%; }
    .sub-mast-info .info {
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
    .sub-mast-info img {
      margin: 0 20px;
      height: 10px;
      width: 10px;
      align-self: center; }

/*------------------------------------*\
              ¡SECTIONS
\*------------------------------------*/
.section {
  padding: 40px 0; }
  .section-title {
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: 10px; }
    .section-title span {
      font-size: 16px; }
  .section-divider {
    background: url(../assets/img/divider.png) no-repeat center;
    background-size: 15px;
    height: 20px; }
  .section .info {
    line-height: 35px; }

.commitment {
  margin-bottom: 50px; }

.services {
  background: url(../assets/img/bg-services.png) no-repeat center;
  background-size: cover;
  min-height: 800px; }
  .services .box-container {
    margin: 100px 0;
    font-size: 0; }
    .services .box-container .box {
      background: rgba(98, 98, 98, 0.5);
      display: inline-block;
      height: 175px;
      margin: 5px 3px;
      position: relative;
      vertical-align: top;
      width: 175px; }
      .services .box-container .box p {
        color: #ffffff;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 85%; }
    .services .box-container .box:hover {
      background: rgba(73, 44, 44, 0.7); }
    @media screen and (max-width: 767px) {
      .services .box-container {
        margin: 30px 0; } }

.service-info {
  background: #dfdfdf; }
  .service-info-title {
    line-height: 32px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative; }
    .service-info-title span {
      font-size: 16px; }
  .service-info-title:after {
    content: url(../assets/img/divider.png);
    margin: 0 20px;
    position: absolute;
    bottom: 2px; }

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

/*# sourceMappingURL=main.css.map */
